<style>
      .subscribe-button {
        background-color: rgb(235, 8, 8);
        color: white;
        border: none;
        height: 36px;
        width: 105px;
        border-radius: 2px;
        cursor: pointer;
        margin-right: 8px;
        margin-left: 20px;
        transition: opacity 0.15s;
        vertical-align: top;
      }
    
      .subscribe-button:hover {
        opacity: 0.8;
      }
    
      .subscribe-button:active {
        opacity: 0.4;
      }
    
      .join-button {
        background-color: white;
        border-color: rgb(10, 120, 223);
        border-style: solid;
        border-width: 1px;
        color: rgb(10, 120, 223);
        border-radius: 2px;
        cursor: pointer;
        padding-left: 30px;
        transition: background-color 0.15s,
        color 0.15s;
      }
    
      .join-button:hover {
        background-color: rgb(10, 120, 223);
        color: white;
      }
    
      .join-button:active {
        opacity: 0.7;
      }
    
      .tweet-button {
        background-color: rgb(30, 177, 221);
        color: white;
        border: none;
        height: 36px;
        width: 74px;
        border-radius: 18px;
        font-weight: bold;
        font-size: 15px;
        cursor: pointer;
        margin-left: 8px;
        transition: box-shadow 0.15s;
        vertical-align: top;
      }
    
      .tweet-button:hover {
        box-shadow: 5px 5px 10px rgba(0,0,0, 00.15);
      }
    </style>